body {
  user-select: none;
  background-color: #333;
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #fff;
  width: 80%;
  max-width: 900px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.inner-container {
  width: 100%;
  max-width: 800px;
  background-color: #444;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.pads-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 332px;
}

.drum-pad {
  background-color: #555;
  color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  transition: background-color 0.1s ease, transform 0.1s ease;
}

.drum-pad:active, .drum-pad.active {
  background-color: #777;
  transform: scale(0.95);
}

.power.on:active, .power.on.active, .power.off:active, .power.off.active {
  background-color: #777;
  transform: scale(0.95);
}

.bank-btn:active, .bank-btn.active {
  background-color: #777;
  transform: scale(0.95);
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.volume-slider-container {
  display: flex;
  align-items: center;
  height: 100px;
}

.volume-slider {
  transform-origin: 50% 50%;
  width: 100px;
  height: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.volume-slider::-webkit-slider-runnable-track {
  height: 100%;
  background: #333;
}

.volume-slider::-webkit-slider-thumb {
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
  border: 1px solid #555;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  width: 100px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.power.on {
  background-color: green;
}

.power.off {
  background-color: red;
}

.select.on .inner {
  background-color: #00ff00;
}

.select.off .inner {
background-color: #ff0000;
}

.control:hover {
  background-color: #555;
}

.pad-display {
  display: flex;
  background-color: #555;
  border: 1px solid #444;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  height: 60px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  justify-content: center;
}
